body{
	margin: 0px;
}
a{
	text-decoration: none;
}
.topdiv{
	width: 100%;
	height: 100px;
	background-color: #3c3c3c;
	position: fixed;
	top: 0;
	opacity: 0.9;
	z-index: 10;
}
.png{
	width: 136px;
	height: 44px;
	background-image: url(../images/infni.png);
	margin: 0px auto;
}
.topdiv .div1{
	color: #9c9c9c;
	font-size: 12px;
	position: absolute;
	top: 80%;
}
.topdiv a:hover .div1{
	color: white;
}
.div01{
	left: 20%;
}
.div02{
	left: 38%;
}
.div03{
	left: 55%;
}
.div04{
	left: 80%;
}
.main{
	width:100%;
	background-color: #f2f2f2;
}
.dh{
	width: 80%;
	margin: 0px auto;
	margin-top: 120px;
}
.dh span{
	display: inline-block;
	width: 6px;
	height: 6px;
	border: 1px solid white;
	border-radius: 6px;
	background-color: #999;

}
.dian{
	width: 100%;
	text-align: center;
}
.dian a:hover span{
	background-color: #fff;
	border: 1px solid #999;
}
.dhl{
	width: 100%;
	height: 35px;
	background-color: #3c3c3c;
	opacity: 0.9;
	margin-top: -35px;
	color: white;
	text-align: center;
	line-height: 35px;
}
.dh p{
	padding-top:2%;
	padding-bottom: 2%;
	font-size: 12px;
	text-align: left;
	text-indent: 2em;
	line-height: 1.5em;
	border: 1px solid transparent;
	border-top-color: #e8e8e8;
	border-bottom-color: #e8e8e8;
	color: #000;
	
}
.center{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 1%;
	text-align: center;
}
.center a{
	display: block;
	float: left;
	margin: 1%;
	
}
.center .v1{
	position: relative;
	width: 100%;
}
.center img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.center .v1 div{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	display: none;
}
h4{
	color: rgb(173,173,173);
	font-size: 1rem;
	text-align: center;
	background-color: #fff;
	margin: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.center a:hover .v1 div{
	display: block;
}
.center a:hover h4{
	color: rgb(0,0,0);
}
.footdiv{
	width: 100%;
	background-color: #e0e0e0;
	overflow: hidden;
}
.footleft{
	width: 49%;
	height: 180px;
	display: inline-block;
	background-color: #e0e0e0;
	float: left;
}
.footright{
	width: 49%;
	display: inline-block;
	border-left: 1px #bcbcbc solid;
	background-color: #e0e0e0;
	float: right;
}
.link{
	float: right;
}
.con{
	width: 100%;
	font-size: 12px;
	line-height: 10px;
	margin-left: 2%;
}
.center img:hover{
	background-color: red;
	opacity: 0.8;¡
}

@media screen and (min-width: 800px){
	.center a{
		width: 31%;
	}
	.center, .dh{
		width: 80%;
	}
}
@media screen and (max-width: 800px) and (min-width: 660px) {
	.center a{
		width: 31%;
	}
	.center, .dh{
		width:640px;
	}
}
@media screen and (max-width: 660px) and (min-width: 480px){
	.center a{
		width: 30%;
	}
	.center{
		width: 100%;
	}
	.dh{
		width: 96%;
	}
}
@media screen and (max-width: 480px) and (min-width: 335px){
	.center a{
		width: 46%;
	}
	.center{
		width: 100%;
	}
	.dh{
		width: 96%;
	}
}
@media screen and (max-width: 340px){
	.center a{
		width: 46%;
	}
	.center, .dh{
		width: 335px;
	}
}
