input {
  outline: none; }

.logon {
  width: 320px;
  position: relative;
  top: 76px;
  float: right; }
  .logon .logonTop {
    width: 320px;
    height: 50px;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fff; }
    .logon .logonTop .deng, .logon .logonTop .zhu {
      display: inline-block;
      width: 160px;
      height: 50px;
      font-size: 16px;
      font-family: "Microsoft YaHei";
      line-height: 50px;
      text-align: center;
      color: #666666;
      cursor: pointer; }
    .logon .logonTop .active {
      height: 49px;
      border-bottom: 2px solid #29b572;
      color: #29b572; }
    .logon .logonTop a:hover {
      height: 49px;
      border-bottom: 2px solid #29b572;
      color: #29b572; }
  .logon .dengLu {
    position: absolute;
    width: 320px;
    background-color: #e9f2ec; }
    .logon .dengLu .form1 .tishi {
      height: 14px;
      margin: 10px 0 0 30px;
      display: none; }
      .logon .dengLu .form1 .tishi div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: url(../images/tubiao.png) -1px 1155px;
        float: left; }
      .logon .dengLu .form1 .tishi span {
        font-size: 12px;
        color: red;
        float: left;
        margin-left: 3px;
        margin-top: 2px; }
    .logon .dengLu .form1 .loginMobile {
      width: 258px;
      height: 22px;
      border: 1px solid #cccccc;
      background-color: #fff;
      margin: 36px auto 0;
      padding: 9px 0; }
      .logon .dengLu .form1 .loginMobile span {
        display: inline-block;
        width: 12px;
        height: 16px;
        background-image: url(../images/tubiao.png);
        background-position: -2px 0;
        position: relative;
        left: 10px;
        top: 2px; }
      .logon .dengLu .form1 .loginMobile .loginMobileT {
        width: 216px;
        height: 20px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        border: none;
        border-left: 1px solid #e8e8e8;
        padding-left: 9px;
        margin-left: 15px; }
    .logon .dengLu .form1 .pass {
      width: 258px;
      height: 22px;
      border: 1px solid #cccccc;
      background-color: #fff;
      margin: 10px auto 0;
      padding: 9px 0; }
      .logon .dengLu .form1 .pass span {
        display: inline-block;
        width: 15px;
        height: 16px;
        background-image: url(../images/tubiao.png);
        background-position: -1px -25px;
        position: relative;
        left: 10px;
        top: 3px; }
      .logon .dengLu .form1 .pass .passW {
        width: 216px;
        height: 20px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        border: none;
        border-left: 1px solid #e8e8e8;
        padding-left: 9px;
        margin-left: 12px; }
    .logon .dengLu .form1 .yanzengma {
      width: 260px;
      height: 40px;
      margin: 10px 0 0 30px; }
      .logon .dengLu .form1 .yanzengma .yanZeng {
        width: 158px;
        height: 20px;
        border: 1px solid #cccccc;
        background-color: #fff;
        padding: 9px 0;
        float: left; }
        .logon .dengLu .form1 .yanzengma .yanZeng span {
          display: inline-block;
          width: 11px;
          height: 13px;
          background-image: url(../images/tubiao.png);
          background-position: -2px -51px;
          position: relative;
          left: 10px;
          top: 3px; }
        .logon .dengLu .form1 .yanzengma .yanZeng .mobileT {
          width: 117px;
          height: 20px;
          font-size: 14px;
          font-family: "Microsoft YaHei";
          border: none;
          border-left: 1px solid #e8e8e8;
          padding-left: 9px;
          margin-left: 15px; }
      .logon .dengLu .form1 .yanzengma .verification {
        float: right;
        height: 40px; }
        .logon .dengLu .form1 .yanzengma .verification img {
          width: 90px;
          height: 38px;
          border: 1px solid #cccccc; }
    .logon .dengLu .form1 .check {
      width: 13px;
      height: 13px;
      color: #29b572;
      margin-left: 30px;
      margin-top: 18px; }
    .logon .dengLu .form1 .jiZhu {
      font-size: 12px;
      color: #848585;
      font-family: "Microsoft YaHei"; }
    .logon .dengLu .form1 .wangJI {
      float: right;
      font-size: 12px;
      color: #848585;
      font-family: "Microsoft YaHei";
      margin-right: 30px;
      margin-top: 16px; }
    .logon .dengLu .form1 .button {
      width: 260px;
      height: 40px;
      background-color: #29b572;
      font-family: "Microsoft YaHei";
      font-size: 16px;
      color: #fff;
      border: none;
      margin-left: 30px;
      margin-top: 10px;
      cursor: pointer;
      margin-bottom: 50px; }
  .logon .zhuCe {
    position: absolute;
    width: 320px;
    background-color: #e9f2ec;
    display: none; }
    .logon .zhuCe .form2 .tishi {
      height: 14px;
      margin: 10px 0 0 30px;
      display: none; }
      .logon .zhuCe .form2 .tishi div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: url(../images/tubiao.png) -1px 1155px;
        float: left; }
      .logon .zhuCe .form2 .tishi span {
        font-size: 12px;
        color: red;
        float: left;
        margin-left: 3px;
        margin-top: 2px; }
    .logon .zhuCe .form2 .mobile {
      width: 260px;
      height: 22px;
      border: 1px solid #cccccc;
      background-color: #fff;
      margin: 36px auto 0;
      padding: 9px 0; }
      .logon .zhuCe .form2 .mobile span {
        display: inline-block;
        width: 12px;
        height: 16px;
        background-image: url(../images/tubiao.png);
        background-position: -2px 0;
        position: relative;
        left: 10px;
        top: 2px; }
      .logon .zhuCe .form2 .mobile .mobileText {
        width: 210px;
        height: 20px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        border: none;
        border-left: 1px solid #e8e8e8;
        padding-left: 9px;
        margin-left: 15px; }
    .logon .zhuCe .form2 .captcha {
      width: 160px;
      height: 22px;
      border: 1px solid #cccccc;
      background-color: #fff;
      margin: 10px 0 0 30px;
      padding: 9px 0; }
      .logon .zhuCe .form2 .captcha span {
        display: inline-block;
        width: 11px;
        height: 13px;
        background-image: url(../images/tubiao.png);
        background-position: -2px -51px;
        position: relative;
        left: 10px;
        top: 3px; }
      .logon .zhuCe .form2 .captcha .mobileText {
        width: 117px;
        height: 20px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        border: none;
        border-left: 1px solid #e8e8e8;
        padding-left: 9px;
        margin-left: 15px; }
    .logon .zhuCe .form2 .captchaRight {
      width: 90px;
      height: 30px;
      display: inline-block;
      border: 1px solid #29b572;
      color: #29b572;
      background-color: #f1f1f1;
      border-radius: 2px;
      font-family: "Microsoft YaHei";
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      float: right;
      margin-right: 30px;
      margin-top: -37px; }
    .logon .zhuCe .form2 .countdown {
      width: 92px;
      height: 32px;
      display: inline-block;
      color: #fff;
      background-color: #cccccc;
      border-radius: 2px;
      font-family: "Microsoft YaHei";
      line-height: 30px;
      font-size: 14px;
      text-align: center;
      float: right;
      margin-right: 30px;
      margin-top: -37px;
      display: none; }
    .logon .zhuCe .form2 .password {
      width: 260px;
      height: 22px;
      border: 1px solid #cccccc;
      background-color: #fff;
      margin: 15px auto 0;
      padding: 9px 0; }
      .logon .zhuCe .form2 .password span {
        display: inline-block;
        width: 15px;
        height: 16px;
        background-image: url(../images/tubiao.png);
        background-position: -1px -25px;
        position: relative;
        left: 10px;
        top: 3px; }
      .logon .zhuCe .form2 .password .passT {
        background-position: 0 -120px; }
      .logon .zhuCe .form2 .password .passwordText {
        width: 219px;
        height: 20px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        border: none;
        border-left: 1px solid #e8e8e8;
        padding-left: 9px;
        margin-left: 12px; }
    .logon .zhuCe .form2 .checkbox {
      width: 13px;
      height: 13px;
      color: #29b572;
      margin-left: 30px;
      margin-top: 17px; }
    .logon .zhuCe .form2 .terms {
      font-size: 12px;
      color: #848585;
      font-family: "Microsoft YaHei"; }
    .logon .zhuCe .form2 .submit {
      width: 260px;
      height: 40px;
      background-color: #29b572;
      font-family: "Microsoft YaHei";
      font-size: 16px;
      color: #fff;
      border: none;
      margin-left: 30px;
      margin-top: 10px;
      cursor: pointer;
      margin-bottom: 50px; }
