//底部
footer
	div.footer
		div.friendship
			div.linking 友情链接
			ul
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
				li
					a(href="#") 蓝鸥科技
			a(href="#").more 更多
				i &gt;&gt;
		ul.content
			h3 我们的实验室
			li
				a(href="#") 在线编程
			li
				a(href="#") 奖学制度
			li
				a(href="#") 在线班级
			li
				a(href="#") 课后60分钟考试
		ul.content
			h3 关于我们
			li
				a(href="#") 精英吧简介
			li
				a(href="#") 联系我们
			li
				a(href="#") 加入我们
		ul.content
			h3 现有课程
			li
				a(href="#") iOS
			li
				a(href="#") Android
			li
				a(href="#") unity3D
			li
				a(href="#") H5
		ul.content
			h3 帮助
			li
				a(href="#") 联系客服
			li
				a(href="#") 版权声明
			li
				a(href="#") 法律声明
			li
				a(href="#") 服务条款
		ul.content
			h3 反馈方式
			li
				a(href="#") 电子邮箱：help@xxxxx.com
			li
				a(href="#") 微信反馈：精英吧微信公众号
			img(src="../images/jingyingba.jpg")
		div.app
			h3 口袋精英app
			img(src="../images/app.png")
			span （扫码下载）
	div.bottom
		span 蓝鸥科技有限公司©1997-2016&nbsp;|&nbsp;北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层