header
	div.header
		div.logo
			a(href="index.html")
				img(src="../images/logo.png")
		div.excavate 发掘你的价值
		ul.keMu
			li
				a(href="index.html") 首页
			li
				a(href="#") 线下课程
			li
				a(href="#") 在线课程
			li
				a(href="#") 学校
			li
				a(href="#") 互联网头条
			li
				a(href="#") +提问
		div.center
			div.avatar
				img(src="../images/avatar.png")
			a(href="#").personal
				span 个人中心
				img(src="../images/xiaarrow.png")