header
	div.header
		div.logo
			a(href="index.html")
				img(src="../images/logo.png")
		div.excavate 发掘你的价值
		ul.keMu
			li
				a(href="list.html") 课程
			li
				a(href="#") 学习指导
			li
				a(href="#") 企业招聘
			li
				a(href="#") 互联网头条
			li
				a(href="#") +提问
		div.center
			div.avatar
				img(src="../images/avatar.png")
			a(href="#").personal
				span.geRen 个人中心
				img(src="../images/xiaarrow.png")
				div.xinXi
					span 退出
					span 我是在校生
script(src="../js/header.js")