doctype
html
	head
		meta(charset="utf-8")
		title 精英吧
		link(rel="stylesheet",type="text/css",href="../css/index.css")
	body
		header
			div.header
				a(href="index.html")
					img(src="../images/logo.png")
				img(src="../images/find.png")
				ul
					li
						a(href="list.html") 课程
					li
						a(href="#") 学习指导
					li
						a(href="#") 企业招聘
					li
						a(href="#") 互联网头条
					li
						a(href="#") +提问
				div
					span
						a(href="login.html") 登陆
					i |
					span
						a(href="#") 注册
		//轮播图
		section.headerTop
			div.lunBo
				ul.pic
					li.active
						a(href="#")
							img(src="../images/lun1.png")
					li
						a(href="#")
							img(src="../images/lun2.png")
					li
						a(href="#")
							img(src="../images/lun3.png")
				ol.quan
					li.active
					li
					li
			//登陆
			div.land
				div.landT
					div.touXiang
					span Hi，中午好，
					span 欢迎来到精英吧。
					a(href="login.html")
						input.landBtn(type="button",value="登录")
					a(href="#")
						input.logonBtn(type="button",value="注册")
				//新手入门
				div.gongNeng
					span.xinShou 新手入门
					a(href="#").jingYing 了解精英吧
						i &gt;
					div.student
						a(href="#")
							div.student1
							span 1.&nbsp;理论学习
					div.student
						a(href="#")
							div.student2
							span 2.&nbsp;大牛答疑
					div.student
						a(href="#")
							div.student3
							span 3.&nbsp;在线评估
					div.student
						a(href="#")
							div.student4
							span 4.&nbsp;线下实训
				ul.nei
					li
						a(href="#") 奖学
					li
						a(href="#") 就业
					li
						a(href="#") 圈子
		//课程学习
		div.headerB
			div.base
				div.problem.pr1
				div.pro
					a(href="#") 课程学习
				span 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建
			div.base
				div.problem.pr2
				div.pro
					a(href="#") 学习指导
				span 不知道该学什么，我们将有在线职业规划师为你进行学习指导
			div.base
				div.problem.pr3
				div.pro
					a(href="#") 有问必答
				span 利用手机通过算法将你的问题推送给老师，一对一为你实时解答
			div.base
				div.problem.pr4
				div.pro
					a(href="#") 招聘就业
				span 我们鼓励学习，学习达标的学员我们向企业推荐
			div.base
				div.problem.pr5
				div.pro
					a(href="#") 带你走进互联网
				span 行业专家为你提供最新最前沿的互联网思维和讯息，快速了解互联网
		//在线课程
		div.keCheng
			div.course 精英吧在线课程
			div.lei
				ul
					li
						img(src="../images/iOS.png")
						a(href="#")
							div.meng
					li
						img(src="../images/Android.png")
						div.meng1 正在录制，敬请期待！
					li
						img(src="../images/unity3D.png")
						div.meng1 正在录制，敬请期待！
					li
						img(src="../images/Html5.png")
						div.meng1 正在录制，敬请期待！
					li
						img(src="../images/more.png")
						div
		//学习方式
		div.fangShi
			div.way 不一样的学习方式：你学习的不仅仅是技能
			div.skills
				ul
					li
						img(src="../images/skills1.png")
						span 同学一起学
						p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级，刷副本。
					li
						img(src="../images/skills2.png")
						span 学习顾问指引
						p 贴心的学习顾问，当你遇到困难，学习动力不足，对学习方向和未来迷茫，出手相助。
					li
						img(src="../images/skills3.png")
						span 奖学制度
						p.p1 每个时代都需要天才，但是也需要勤奋刻苦的人才，对，就是你，你学的好，我们就要奖励你，我们要助推你成为社会的精英
					li
						img(src="../images/skills4.png")
						span 有问必答
						p 遇到困难不要怕，上千名认证专家在线支持答疑，只要你提问，我们就回答。
		//学习用户
		div.user
			dl
				dt 目前我们共有超过
					i 30000
					注册学习用户
				dd 目前已经有259名学生获得奖学金
			div.people
				ul
					li
						img(src="../images/user1.png")
						span 账户名称
						span Android基础课
						span 综合分数91分
						span 奖学金：
						span 3000元
					li
						img(src="../images/user2.png")
						span 账户名称
						span Android基础课
						span 综合分数91分
						span 奖学金：
						span 2000元
					li
						img(src="../images/user3.png")
						span 账户名称
						span Android基础课
						span 综合分数91分
						span 奖学金：
						span 1000元
					li
						img(src="../images/user4.png")
						span 账户名称
						span Android基础课
						span 综合分数91分
						span 奖学金：
						span 800元
					li
						img(src="../images/user5.png")
						span 账户名称
						span Android基础课
						span 综合分数91分
						span 奖学金：
						span 500元
		//合作机构
		div.cooperate
			div.organization 合作机构
			div.partner
				div.xunHuan
					ul.xun
						li
							a(href="#")
								img(src="../images/cooperate1.png")
						li
							a(href="#")
								img(src="../images/cooperate2.png")
						li
							a(href="#")
								img(src="../images/cooperate3.png")
						li
							a(href="#")
								img(src="../images/cooperate4.png")
						li
							a(href="#")
								img(src="../images/cooperate5.png")
						li
							a(href="#")
								img(src="../images/cooperate6.png")
						li
							a(href="#")
								img(src="../images/cooperate7.png")
						li
							a(href="#")
								img(src="../images/cooperate8.png")
						li
							a(href="#")
								img(src="../images/cooperate9.png")
						li
							a(href="#")
								img(src="../images/cooperate10.png")
						li
							a(href="#")
								img(src="../images/cooperate1.png")
						li
							a(href="#")
								img(src="../images/cooperate2.png")
						li
							a(href="#")
								img(src="../images/cooperate3.png")
						li
							a(href="#")
								img(src="../images/cooperate4.png")
						li
							a(href="#")
								img(src="../images/cooperate5.png")
						li
							a(href="#")
								img(src="../images/cooperate6.png")
						li
							a(href="#")
								img(src="../images/cooperate7.png")
						li
							a(href="#")
								img(src="../images/cooperate8.png")
						li
							a(href="#")
								img(src="../images/cooperate9.png")
						li
							a(href="#")
								img(src="../images/cooperate10.png")
			span.pre
			span.next
		include footer.jade
		//侧边栏
		div.ceBian
			div.upward
				//公众号
				a(href="#")
					div.WeChat
						img(src="../images/WeChat.png")
						span 公众号
				div.WeChatTu
				a(href="#")
					div.WeChat
						img(src="../images/survey.png")
						span 问卷调查
				a(href="#")
					div.WeChat
						img(src="../images/words.png")
						span 在线留言
				//回到顶部
				a(onclick="pageScroll()")
					div.up
		script(src="../js/index.js")