doctype
html
	head
		meta(charset="utf-8")
		title 精英吧
		link(rel="stylesheet",type="text/css",href="../css/list.css")
	body
		include header1.jade
		section.item
			img(src="../images/Unity3D_list.png")
			h2 unity3D基础课程A段项目
			div.timer
				div.keShi
					span 总课时
					i 365
						span 天
				div.keShi.xue
					span.shiJian 标准学习时间
					i.nine 90
						span 天
			div.fenXiang
				span.fenXiangTu 分享
					img.lei(src="../images/leixing.png")
			div.period
				img(src="../images/period.png")
		div.subject
			article
			div.studyUser
				div.title 正在学习的用户
				div.table
					div.name
						div.className 班级名
						div.userName 用户名
							div.left
							div.right
						div.grade 分数
					ol
						li
							div.cn A1020
							div.un 飞翔的企鹅教育咨询
							div.gr 98
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
						li
							div.cn B1021
							div.un 教育咨询
							div.gr 100
		include footer.jade
	script(src="../js/list.js")