doctype
html
	head
		meta(charset="utf-8")
		title 精英吧
		link(rel="stylesheet",type="text/css",href="../css/login.css")
	body
		header
			div.header
				div.logo
					a(href="index.html")
						img(src="../images/logo.png")
				div.excavate 发掘你的价值
				ul.keMu
					li
						a(href="#") iOS
					li
						a(href="#") Android
					li
						a(href="#") Unity3D
					li
						a(href="#") H5
					li
						a(href="#") 有问必答
		article
			section
				include loginlogon.jade
		footer
			div.footer
				span 蓝鸥科技有限公司©1997-2016&nbsp;|&nbsp;北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层
	script(src="../js/login.js")