doctype
html
	head
		meta(charset="utf-8")
		title 精英吧
		link(rel="stylesheet",type="text/css",href="../css/photos.css")
	body
		include header.jade
		div.corporation
			img(src="../images/corporation.png")
			h2 北京蓝鸥科技教育培训学校有限公司
			div.grade
				div.star
					div
					div
					div
					div
					div
				div.place
				span 北京市海淀区清河中街金五星大厦五楼